@font-face {
    font-family:font_segoeUI;
    src:url('../fonts/SEGOEUI.TTF') format('truetype'),
}
.body_job {
    margin: 0 auto;
}
header {
    width: 1280px;
    height: 79px;
    display: flex;
    margin: 0 auto;
    border-bottom: 1px solid #b1b0b0;
}
header .logo {
    height: 61.72px;
    width: 50px;
}
.header_text{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    display: flex;
    margin-left: 54px;
    cursor:pointer;
}
.header_text p{
    padding: 0px 16px;
}
.header_home {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}
.button-01 {
    width: 140px;
    height: 45px;
    margin: 10px 0 0 325px;
    background: #2F9C95;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    cursor:pointer;
}
.button-02 {
    width: 140px;
    height: 45px;
    margin: 10px 0 0 12px;
    border-radius: 6px;
    border: 2px solid #2F9C95;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #161515;
    background: #ffffff;
    cursor:pointer;
}
.banner {
    margin:24px 0 0 36px;
}
.header_banner{
    margin: 24px auto;
    width: 1280px;
    height: 424px;
    background: url("./images/banner.png") no-repeat bottom right; 
    text-align: right;
    align-items: center;

}
.header_banner span {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #161515;
    margin: 70px 0 0 700px;
    display: inline-block;
}
.header_banner .search {
    width: 292px;
    height: 45px;
    border: 1px solid #2F9C95;
    border-radius: 8px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
}
.header_banner .search input {
    font-family: 'Quicksand', sans-serif;
    width: 180px;
    margin-left: 5px;
    border: none;
}
.header_banner .search input:focus {
    outline: none;
  }
.header_banner .search img {
    padding: 0px 13px;
}
.banner_search {
    display: flex;
    margin:68px 0 0 828px;
}
.button-03 {
    width: 140px;
    height: 45px;
    margin: 0px 0 0 12px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    background: #330F0A;
    border: none;
    cursor:pointer;
}
h3{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #161515;
    text-align: center;
    margin-top:64px;
}
.diff_form .services {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 73px;
    width:1280px;
    margin:0 auto;
}
.diff_form .services > div {
    width: 311px;
    display: flex;
    align-items: center;
    margin-left:48px;
    margin-right:0;
}
.diff_form .services img {
    width:70px;
    height: 70px;
    margin-right: 8px;
}
.diff_form .services .info h5 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 12px;
    margin-top:0px;
}
.diff_form .services .info p {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    font-size: 14px;
    line-height: 19px;
}
.job_cates .cates01 {
    width:1280px;
    margin:0 auto;
}
.job_cates button{
    background: #D24121;
    border: 1px solid #D24121;
    border-radius: 8px;
    height:50px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color:#FFFFFF;
    margin:0 10px 16px 10px;
    cursor:pointer;
}
.job_cates .btn01 {
    margin-left: 35px;
    cursor:pointer;
}
.job_cates .btn02 {
    margin-left: 151px;
    cursor:pointer;
}
.hotjobs .job_slide {
    width:1280px;
    margin: 0 auto;
}
.hotjobs .job_01 {
    width: 472px;
    height: 208px;
    border-radius: 8px;
    align-items: center;
    background: #71CEC8;
}
.job_title {
    display: flex;
    margin: 0 0 0 25px;
}
.job_title h4 {
    margin :5px 90px 0 0;
    font-family: 'SEGOEUI', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color:#330F0A;
}
.job_01 {
    margin-right:32px;
}
.job_01 h5 {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color:#161515;
    margin :12px 15px 0 25px;
}
.job_com {
    display: flex;
    margin: 0 0 0 25px;
}
.job_com img {
    margin: 12px 15px 0 0;
}
.job_01 .job_com h6{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color:#616161;
    margin :10px 15px 0 0;
}
.job_01 h6{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color:#161515;
    margin :10px 15px 0 25px;
}
.job_slide {
    display: flex;
}
.morejobs .job_border{
    width:1248px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 36px;
}
.job_02 {
    margin-right:32px;
}
.job_02 h5 {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color:#161515;
    margin :12px 25px 0 25px;
}
.job_02 .job_com h6{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color:#616161;
    margin :10px 15px 0 0;
}
.job_02 h6{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color:#161515;
    margin :10px 15px 0 25px;
}
.job_border .job_02 {
    width: 605px;
    height: 245px;
    border-radius: 8px;
    align-items: center;
    border: 3px solid #2F9C95;
    border-radius: 8px;
}
.job_border .job_02 .job_title02 {
    display: flex;
}
.job_border .job_02 .job_title02 h4 {
    margin :15px 225px 0 25px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color:#330F0A;
}
.job_border .job_02 .job_title02 img {
    margin-top:12px;
}
.job_03 h5 {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color:#161515;
    margin :12px 25px 0 25px;
}
.job_03 .job_com h6{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color:#616161;
    margin :10px 15px 0 0;
}
.job_03 h6{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color:#161515;
    margin :10px 15px 0 25px;
}
.job_border .job_03 {
    width: 605px;
    height: 245px;
    border-radius: 8px;
    align-items: center;
    border: 3px solid #2F9C95;
    border-radius: 8px;
}
.job_border .job_03 .job_title02 {
    display: flex;
}
.job_border .job_03 .job_title02 h4 {
    margin :15px 225px 0 25px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color:#330F0A;
}
.job_border .job_03 .job_title02 img {
    margin-top:12px;
}
.about_form {
    width: 1280px;
    height: 400px;
    background: #2F9C95;
    border-radius: 12px;
    margin: 0 auto;
}
.about_form h3 {
    margin-top: 64px;
    color:#FFFFFF;
    padding-top: 16px;
}
.about_form  h6 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color:#FFFFFF;
    margin-left:227px;
    width: 825px;
    margin-top:16px;
}
.about_form .list_num {
    display: flex;
    width:995px;
    margin-left:150px;
    text-align: center;

}
.about_form .num {
    width: 270px;
    margin-right: 100px;
}
.about_form .num h2{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 48px;
    line-height: 99.84px;
    font-weight: 500;
    color:#330F0A;
    margin-top:0;
}
.about_form .num span{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    color:#FFFFFF;
}
.about_form .num02 {
    width: 240px;
    margin-right: 0px;
}
.about_form .num02 h2{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 48px;
    line-height: 99.84px;
    font-weight: 500;
    color:#330F0A;
    margin-top:0;

}
.about_form .num02 span{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    color:#FFFFFF;
}
footer {
    width: 1440px;
    height: 370px;
    background: #D8E7E6;
    margin: 64px auto;
    display: flex;
}
footer .info img {
    width: 111px;
    margin:24px 80px 0px 80px ;
    height: 136.65px;
}
footer .info p {
    width: 205px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 21.36px;
    font-weight: 500;
    color:#161515;
    margin:24px 78px;
}

footer .i4_cates h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #161515;
    margin: 32px 100px 0 0;
}
footer .i4_cates .cates_sth {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
footer .i4_cates .cates_sth h6 {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #161515;
    margin:24px 80px 0 25px;
}
footer .i4_mess h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #161515;
    margin-top: 32px;
    margin-bottom: 0;
    text-align: left;
}
footer .i4_mess .mess_sth {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
footer .i4_mess .mess_sth h6 {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #161515;
    margin:24px auto;
    width: 446px;
}
footer .mess_sth1 .search {
    width: 270px;
    height: 45px;
    border: 1px solid #2F9C95;
    border-radius: 8px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
}
footer .mess_sth1 .search input {
    font-family: 'Quicksand', sans-serif;
    width: 150px;
    margin-left: 5px;
    border: none;
}
footer .mess_sth1 .search input:focus {
    outline: none;
}
.mess_sth1 {
    display: flex;
    margin:28px 0 0 0;
}
footer .i4_follows .cates_sth {
    margin: 32px 0 0 32px;
}
footer .i4_follows h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #161515;
    margin: 32px 0 0 32px;
    text-align: left;
}
